*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

.login-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-fundo{
    width: 100%;
    height: 100vh;
}

.login-nav{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;    
}

#logo{
    width: 9rem;
    height: 30vh;
}

#login-sign{
    border-radius: 10px;
    width: 15rem;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(250, 250, 250, 0.579);
    font-weight: bold;
    font-size: 1.2rem;
    
}

.container-form{
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    background-color:rgba(250, 250, 250, 0.579);
    border-radius: 10px;
}

.formulario{
    width: 100%;
    height: 27vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
 
}

#username, #password{
    height: 5vh;
    width: 15rem;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 3px;
    background-color: rgba(151, 92, 16, 0);
}



#botao-entrar{
    width: 5rem;
    height: 6vh;
    font-weight: 900;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
    transition: transform 1s ease, background-color 0.3s ease;
}

#botao-entrar:hover{

    background-color: rgba(151, 92, 16, 0.521); 
}

#botao-entrar:disabled{
    background-color: gray;
    cursor: not-allowed;
}

#img-vetor-vinil{
    width: 2rem;

}

#cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    font-weight: 700;
    border-radius: 10px;
}

a{
    cursor: pointer;
}

@media screen and (min-width: 1150px) {

    .login-div{
        width: 100%;
        height: 89vh;
        background-color: rgba(252, 143, 0, 0.323);
    }

    .login-nav{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #login-sign{
        width: 20rem;
        background-color: rgba(250, 250, 250, 0.540);
        font-size: 2.5rem;
        
    }

    .container-form{
        width: 32rem;
        height: 37vh;
        background-color:rgba(250, 250, 250, 0.540);
    }

    #username, #password{
        width: 27rem;
        font-size: 1.1rem;
    }

    #botao-entrar{
        width: 7rem;
        font-size: 1.5rem;
    }

    #cadastro{
        font-size: 1.2rem;
    }
    
    
    #img-fundo{
        width: 50%;
        height: 87vh;
        border-radius: 10px;
    }
    
}

