<div class="add-disk-body">
    {% extends "index.html" %}
    {% block content %}
    <title>Adicionar Disco</title>
    <link rel="stylesheet" href="/static/add_disk.css">
        <div class="container">
            <div class="info-container">
                <h1>Adicionar Disco</h1>
                <p>Aqui você pode adicionar os seus discos!</p>
                <p>faça todo o procedimento e realize a adição.</p>
            </div>
            <div class="add-disk-form">
                <form class="form-container" method="post">
                    <label for="title">Título:</label>
                    <input id="titulo" type="text" id="title" name="title" required>
                    <label for="artist">Artista:</label>
                    <input id="artista" type="text" id="artist" name="artist" required>
                    <label for="year">Ano:</label>
                    <input id="ano" type="number" id="year" name="year" required>
                    <button type="submit">Adicionar Disco</button>
                </form>
            </div>
        </div>
    {% endblock %}
</div>
