<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Troca de Discos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="index-nav">
        <div id="logo-header">
            <img id="logo-vetor" src="{{ url_for('static', filename='assets/logo-aba.png') }}" alt="">
            <img id="logo-nome" src="{{ url_for('static', filename='assets/logo-nome.png') }}" alt="">
        </div>
        <a href="{{ url_for('index') }}">Início</a>
        {% if current_user.is_authenticated %}
            <a id="index-a" href="{{ url_for('logout') }}">Sair</a>
            <a id="index-a" href="{{ url_for('add_disk') }}">Adicionar Disco</a>
            <a id="index-a" href="{{ url_for('exchange_disks') }}">Trocar Discos</a>
        {% else %}
            <a id="index-a" href="{{ url_for('login') }}">Login</a>
            <a id="index-a" href="{{ url_for('register') }}">Registrar</a>
        {% endif %}
        <a id="index-a" href="{{ url_for('search_disks') }}">Procurar Discos</a>
    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
