{% extends "index.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/logo-aba.png" type="image/png">
    <link rel="stylesheet" href="/static/login.css">
    <title>Cadê Meu Vinil</title>
</head>
<body class="login-body">
    <div class="login-div">
        <nav class="login-nav">
            <div>
                <img id="logo" src="{{ url_for('static', filename='assets/logo.png') }}" alt="logo-do-cade-meu-disco-2024">
            </div>
            <p id="login-sign">Faça seu login</p>
            <div class="container-form">
                <form class="formulario" action="/html/bem-vindo.html" onsubmit="return login_ok()" method="post">
                    <input id="username" name="username" type="text" placeholder=" Digite seu nome de usuário" required>
                    <input id="password" name="password" type="password" placeholder=" Digite sua senha" required>
                    <!-- Adicionar disabled no botão -->
                    <button id="botao-entrar" type="submit">Entrar</button>
                </form>
                <div id="cadastro">
                    <p>Ainda não tem uma conta?</p>
                    <p>Faça o seu <a href="{{ url_for('register') }}">cadastro</a> aqui agora mesmo!</p>
                </div>
            </div>
    
            <img id="img-vetor-vinil" src="{{ url_for('static', filename='assets/vetor-vinil-preto.png') }}" alt="logo-vinil-preto">
        </nav>
        <img id="img-fundo" src="{{ url_for('static', filename='assets/tela-inicial.jpg') }}" alt="imagem-de-um-vinil-sendo-posto-para-tocar">
        <script src="/scripts/index.js"></script>
    </div>
</body>
</html>
{% endblock %}
