{% extends "index.html" %}
{% block content %}
    <link rel="stylesheet" href="/static/register.css">
    <title>Cadê Meu Vinil</title>
</head>
<body>
    <div class="register-div">
        <nav class="register-nav">
            <div>
                <img class="logo" src="{{ url_for('static', filename='assets/logo.png') }}" alt="logo-do-cade-meu-disco-2024">
            </div>
            <p class="login-sign">Cadastro</p>
            <div class="container-form">
                <form class="formulario"method="post">
                    <input class="nome" id="username" for="username" type="text" placeholder=" Nome" required>
                    <input class="email" id="email" for="email" type="email" placeholder=" Email" required>
                    <input class="senha" id="password for="password" type="password" placeholder=" Crie sua senha" required>
                    <button class="botao-finalizar" type="submit">Finalizar</button>
                </form>
                <div class="cadastro">
                    <p>Já tem uma conta?</p>
                    <p>Faça o seu <a href="{{ url_for('login') }}">Login</a></p>
                </div>
            </div>
            <img class="img-vetor-vinil" src="{{ url_for('static', filename='assets/vetor-vinil-preto.png') }}" alt="logo-vinil-preto">
        </nav>
        <img class="img-fundo" src="{{ url_for('static', filename='assets/tela-inicial.jpg') }}" alt="imagem-de-um-vinil-sendo-posto-para-tocar">
    </div>
</body>
</html>
{% endblock %}
