{% extends "index.html" %}
{% block content %}
<link rel="stylesheet" href="/static/search_disks.css">
<div class="container">
    <div class="second-container">
        <form class="form-container" method="post">
            <h2>Procurar Discos</h2>
            <label for="search_term">Termo de Busca:</label>
            <input id="procurar" type="text" id="search_term" name="search_term" required>
            <button id="buscar" type="submit">Buscar</button>
        </form>
        <h3>Resultados da Busca:</h3>
        <ul>
            {% for disk in disks %}
                <li>ID: {{ disk.id }}, Título: {{ disk.title }}, Artista: {{ disk.artist }}, Ano: {{ disk.year }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
